_format_version: "3.0"
consumers:
- custom_id: ai-agent
  jwt_secrets:
  - algorithm: HS256
    key: ai-agent
    secret: "S7M7O3nEa5Zks1L0NChcSiz0Xy9RCHgC1rxPjXG1hY8"
  username: ai-agent
- custom_id: anonymousConsumer
  username: anonymousConsumer
plugins:
- config:
    anonymous: null
    claims_to_verify:
    - exp
    cookie_names: []
    header_names:
    - authorization
    key_claim_name: iss
    maximum_expiration: 0
    realm: null
    run_on_preflight: true
    secret_is_base64: false
    uri_param_names:
    - jwt
  enabled: true
  instance_name: global_jwt_auth
  name: jwt
  protocols:
  - grpc
  - grpcs
  - http
  - https
- config:
    add:
      body: []
      headers:
      - 'X-JWT-CLAIMS: $(jwt_claims)'
      querystring: []
    append:
      body: []
      headers: []
      querystring: []
    http_method: null
    remove:
      body: []
      headers: []
      querystring: []
    rename:
      body: []
      headers: []
      querystring: []
    replace:
      body: []
      headers: []
      querystring: []
      uri: null
  enabled: true
  instance_name: transform_jwt_claims
  name: request-transformer
  protocols:
  - grpc
  - grpcs
  - http
  - https
services:
- connect_timeout: 60000
  enabled: true
  host: node
  name: auth-service
  path: /
  port: 3300
  protocol: http
  read_timeout: 60000
  retries: 5
  routes:
  - https_redirect_status_code: 426
    name: auth-swagger
    path_handling: v1
    paths:
      - /auth-service/swagger
    plugins:
      - config:
          anonymous: anonymousConsumer
          claims_to_verify:
            - exp
          cookie_names: [ ]
          header_names:
            - authorization
          key_claim_name: iss
          maximum_expiration: 0
          realm: null
          run_on_preflight: true
          secret_is_base64: false
          uri_param_names:
            - jwt
        enabled: true
        name: jwt
        protocols:
          - grpc
          - grpcs
          - http
          - https
      - config:
          add:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          append:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          http_method: null
          remove:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          rename:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          replace:
            body: [ ]
            headers: [ ]
            querystring: [ ]
            uri: /swagger
        enabled: true
        name: request-transformer
        protocols:
          - grpc
          - grpcs
          - http
          - https
    preserve_host: false
    protocols:
      - http
      - https
    regex_priority: 100
    request_buffering: true
    response_buffering: true
    strip_path: false
  - https_redirect_status_code: 426
    name: user-swagger
    path_handling: v1
    paths:
      - /user-service/swagger
    plugins:
      - config:
          anonymous: anonymousConsumer
          claims_to_verify:
            - exp
          cookie_names: [ ]
          header_names:
            - authorization
          key_claim_name: iss
          maximum_expiration: 0
          realm: null
          run_on_preflight: true
          secret_is_base64: false
          uri_param_names:
            - jwt
        enabled: true
        name: jwt
        protocols:
          - grpc
          - grpcs
          - http
          - https
      - config:
          add:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          append:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          http_method: null
          remove:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          rename:
            body: [ ]
            headers: [ ]
            querystring: [ ]
          replace:
            body: [ ]
            headers: [ ]
            querystring: [ ]
            uri: /swagger
        enabled: true
        name: request-transformer
        protocols:
          - grpc
          - grpcs
          - http
          - https
    preserve_host: false
    protocols:
      - http
      - https
    regex_priority: 100
    request_buffering: true
    response_buffering: true
    strip_path: false
  - https_redirect_status_code: 426
    name: auth-login
    path_handling: v1
    paths:
    - /auth-service/api/auth/login
    plugins:
    - config:
        anonymous: anonymousConsumer
        claims_to_verify:
        - exp
        cookie_names: []
        header_names:
        - authorization
        key_claim_name: iss
        maximum_expiration: 0
        realm: null
        run_on_preflight: true
        secret_is_base64: false
        uri_param_names:
        - jwt
      enabled: true
      name: jwt
      protocols:
      - grpc
      - grpcs
      - http
      - https
    - config:
        add:
          body: []
          headers: []
          querystring: []
        append:
          body: []
          headers: []
          querystring: []
        http_method: null
        remove:
          body: []
          headers: []
          querystring: []
        rename:
          body: []
          headers: []
          querystring: []
        replace:
          body: []
          headers: []
          querystring: []
          uri: /api/auth/login
      enabled: true
      name: request-transformer
      protocols:
      - grpc
      - grpcs
      - http
      - https
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 100
    request_buffering: true
    response_buffering: true
    strip_path: false
  - https_redirect_status_code: 426
    name: auth-service
    path_handling: v1
    paths:
    - /auth-service
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 1
    request_buffering: true
    response_buffering: true
    strip_path: true
    tags:
    - auth
  - https_redirect_status_code: 426
    name: auth-sign-up
    path_handling: v1
    paths:
    - /auth-service/api/auth/sign-up
    plugins:
    - config:
        anonymous: anonymousConsumer
        claims_to_verify:
        - exp
        cookie_names: []
        header_names:
        - authorization
        key_claim_name: iss
        maximum_expiration: 0
        realm: null
        run_on_preflight: true
        secret_is_base64: false
        uri_param_names:
        - jwt
      enabled: true
      name: jwt
      protocols:
      - grpc
      - grpcs
      - http
      - https
    - config:
        add:
          body: []
          headers: []
          querystring: []
        append:
          body: []
          headers: []
          querystring: []
        http_method: null
        remove:
          body: []
          headers: []
          querystring: []
        rename:
          body: []
          headers: []
          querystring: []
        replace:
          body: []
          headers: []
          querystring: []
          uri: /api/auth/sign-up
      enabled: true
      name: request-transformer
      protocols:
      - grpc
      - grpcs
      - http
      - https
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 100
    request_buffering: true
    response_buffering: true
    strip_path: false
  write_timeout: 60000
- connect_timeout: 60000
  enabled: true
  host: node
  name: user-service
  path: /
  port: 3301
  protocol: http
  read_timeout: 60000
  retries: 5
  routes:
  - https_redirect_status_code: 426
    name: user-service
    path_handling: v0
    paths:
    - /user-service
    preserve_host: false
    protocols:
    - http
    - https
    regex_priority: 0
    request_buffering: true
    response_buffering: true
    strip_path: true
    tags:
    - user-service
  write_timeout: 60000
