version: '3'

services:
  node:
    container_name: nest_turbo_node
    extends:
      file: .docker/compose/nodejs/node.yml
      service: node
    volumes:
      - ${PWD}:/work
    ports:
      - '3300:3300'
      - '3301:3301'
    depends_on:
      - db
    networks:
      - nest-turbo-network
    env_file:
      - .env

  db:
    container_name: nest_turbo_user_db
    extends:
      file: .docker/compose/postgresql/postgresql.yml
      service: postgresql
    ports:
      - '5534:5432'
    volumes:
      - ${PWD}/.docker/volumes/user_pgdata:/var/lib/postgresql/data
    networks:
      - nest-turbo-network
    environment:
      POSTGRES_USER: ${DEFAULT_PG_USER}
      POSTGRES_PASSWORD: ${DEFAULT_PG_PASSWORD}
      POSTGRES_DB: ${DEFAULT_PG_DATABASE}
    env_file:
      - .env

  redis:
    container_name: nest_turbo_redis
    extends:
      file: .docker/compose/redis/redis.yml
      service: redis
    ports:
      - '6374:6379'
    networks:
      - nest-turbo-network
    volumes:
      - ${PWD}/.docker/volumes/redis_data:/data
    command: redis-server --appendonly yes --dir /data

  redisinsight:
    container_name: nest_turbo_redisinsight
    extends:
      file: .docker/compose/redis/redis.yml
      service: redisinsight
    depends_on:
      - redis
    volumes:
      - ${PWD}/.docker/volumes/redisinsight_data:/db
    ports:
      - '5544:5540'
    links:
      - redis
    networks:
      - nest-turbo-network

  kafka:
    container_name: nest_turbo_kafka
    extends:
      file: .docker/compose/kafka/kafka.yml
      service: kafka
    networks:
      - nest-turbo-network
    volumes:
      - ${PWD}/.docker/volumes/kafka_data:/var/lib/kafka/data
    ports:
      - '9082:9092'

  kafkaui:
    container_name: nest_turbo_kafka_ui
    extends:
      file: .docker/compose/kafka/kafka.yml
      service: kafka_ui
    networks:
      - nest-turbo-network
    depends_on:
      - kafka
    ports:
      - '18082:8080'

  kong-ee-database:
    container_name: nest_turbo_kong_ee_database
    extends:
      file: .docker/compose/postgresql/postgresql.yml
      service: postgresql
    volumes:
      - ${PWD}/.docker/volumes/kong_db_data:/var/lib/postgresql/data
    networks:
      - nest-turbo-network
    environment:
      POSTGRES_USER: ${KONG_PG_USER}
      POSTGRES_DB: ${KONG_PG_DATABASE}
      POSTGRES_PASSWORD: ${KONG_PG_PASSWORD}
    env_file:
      - .env
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'kong']
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - '5482:5432'

  kong-bootstrap:
    extends:
      file: .docker/compose/kong/kong.yml
      service: kong-bootstrap
    container_name: nest_turbo_kong_bootstrap
    networks:
      - nest-turbo-network
    depends_on:
      kong-ee-database:
        condition: service_healthy
    environment:
      KONG_DATABASE: ${KONG_DATABASE}
      KONG_PG_HOST: kong-ee-database
      KONG_PG_DATABASE: ${KONG_PG_DATABASE}
      KONG_PG_USER: ${KONG_PG_USER}
      KONG_PG_PASSWORD: ${KONG_PG_PASSWORD}
      KONG_LICENSE_DATA: ${KONG_LICENSE_DATA}
      KONG_PASSWORD: ${KONG_PASSWORD}
    env_file:
      - .env
    command: kong migrations bootstrap

  kong-cp:
    extends:
      file: .docker/compose/kong/kong.yml
      service: kong-cp
    container_name: nest_turbo_kong_cp
    networks:
      - nest-turbo-network
    environment:
      KONG_DATABASE: ${KONG_DATABASE}
      KONG_PG_HOST: kong-ee-database
      KONG_PG_DATABASE: ${KONG_PG_DATABASE}
      KONG_PG_USER: ${KONG_PG_USER}
      KONG_PG_PASSWORD: ${KONG_PG_PASSWORD}
      KONG_LICENSE_DATA: ${KONG_LICENSE_DATA}
      KONG_ADMIN_LISTEN: 0.0.0.0:8001, 0.0.0.0:8444 ssl
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:8002, 0.0.0.0:8445 ssl

      KONG_ADMIN_API_URI: http://${GW_HOST:-localhost}:18084
      KONG_ADMIN_GUI_URL: http://${GW_HOST:-localhost}:18086
      KONG_ADMIN_CORS_ALLOWED_ORIGINS: http://${GW_HOST:-localhost}:18086

      KONG_PASSWORD: ${KONG_PASSWORD}
    env_file:
      - .env
    depends_on:
      - kong-bootstrap
    ports:
      - '18088:8000'
      - '18083:8443'
      - '18084:8001'
      - '18085:8444'
      - '18086:8002'
      - '18087:8445'

  kong-deck:
    extends:
      file: .docker/compose/kong/deck.yml
      service: deck
    container_name: nest_turbo_kong_deck
    networks:
      - nest-turbo-network
    depends_on:
      kong-cp:
        condition: service_started
    environment:
      DECK_KONG_ADDR: http://kong-cp:8001
    volumes:
      - ${PWD}/config/kong:/app

volumes:
  redisinsight_data:
  kafka_data:
  kong_db_data:
  user_pgdata:
  redis_data:

networks:
  nest-turbo-network:
